<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Freelancers Assigning</title>
</head>
<body>
<form method="post">
    <table align="center">
        <tr>
            <td>
                Date:
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                Contractor:
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                Freelancer:
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                Work:
            </td>
            <td></td>
        </tr>
        <tr>
            <td align="right"><input type="submit" name="btnok" value="OK"></td>
        </tr>
    </table>
</form>

</body>
</html>