{% load static %}
<br><br><br><br><br><br><br><br><br>
<html>
<head>

   {% include "header.html" %}
    <meta charset="UTF-8">
    <title>Category</title>
</head>


<body>
{% if messages %}
<ul >
    {% for message in messages %}

        <script>

         alert( "{{ message }}" );
        </script>

    {% endfor %}
</ul>
{% endif %}

       

<div>
    <h2 align="center">REGISTER HERE!</h2>
<form method="post">
	{% csrf_token %}
<table align="center" cellspacing="8">
<tr>
	<td> Name</td>
	<td>
		{{ form.contractor_name }}
	</td>
</tr>

<tr>
     <td>Gender</td>
     <td>
		 {{ form.gender }}
	 </td>
</tr>

<tr>
      <td>MailId</td>
	  <td>
		  {{ form.mail_id }}
	  </td>
</tr>
<tr>
      <td>Contact No</td>
	  <td>
		  {{ form.phno }}
	  </td>
</tr>

<tr>
      <td>Address</td>
	  <td>
		  {{ form.address }}
	  </td>
</tr>
<tr>
      <td>Street</td>
	  <td>
		  {{ form.street }}
	  </td>
</tr>
	<tr>
        <td>City</td>
		<td>
			{{ form.city }}
		</td>
</tr>
<tr>
        <td>District</td>
	    <td>
			{{ form.district }}
		</td>
</tr>
<tr>
        <td>Pin</td>
	    <td>
			{{ form.pin }}
		</td>
</tr>
<tr>
        <td>State</td>
        <td>
			{{ form.state_id }}
		</td>
</tr>
<tr>
       <td>Aadhar Number</td>
       <td>
		   {{ form.aadharno }}
	   </td>
</tr>
       <td>Username</td>
	   <td>
		   {{ form.username }}
	   </td>
</tr>
<tr>
       <td>Password</td>
	   <td>
		   {{ form.pswd }}
	   </td>
</tr>
    <tr>
       <td>ConfirmPassword</td>
	   <td>
		   {{ form.confirm_pswd }}
	   </td>
</tr>



<tr>
		<td>Contractor Category:</td>
		<td>
			{{ form.con_categoryid }}
		</td>
	</tr>

<tr>
	<td align="right"><input type="submit" name="btnsubmit" value="Submit"></td>
	<td><input type="reset" name="btnreset" value="Reset"></td>
</tr>
</table>
</form>
</div>

</body>
<br><br><br><br><br>

{% include "footer.html" %}
</html>
		